<!doctype html>
<meta charset=utf8>

<title>Pull Request {{pull_id}} details</title>

<h1>Pull Request {{pull_id}}</h1>

{% if not pull %}
<p>
  No information to display for Pull Request {{pull_id}}. Try checking
  <a href="https://github.com/w3c/web-platform-tests/pull/{{pull_id}}">
    GitHub
  </a>
</p>
{% else %}
<table>
  <tr>
    <th>Product
    <th>Status
  </tr>
{% for job in pull.stability_jobs %}
  <tr>
    <td>{{ job.product.name }}
    <td>{{ job.status.name }}
  </tr>
{% endfor %}
{% endif %}
