<!doctype html>
<meta charset=utf8>

<title>Pull Request {{pull_number}} details</title>

<h1>Pull Request {{pull_number}}</h1>

{% if not pull %}
  <p>
    No information to display for Pull Request {{pull_number}}. Try checking
    <a href="https://github.com/w3c/web-platform-tests/pull/{{pull_number}}">
      GitHub
    </a>
  </p>
{% else %}

  {% if not pull.builds %}
    <p>No builds yet for this pull request.</p>
  {% else %}
    <table>
      <tr>
        <th>Build Number</th>
        <th>Status</th>
      </tr>
    {% for build in pull.builds %}
      <tr>
        <td>{{ build.number }}</td>
        <td>{{ build.status.name }}</td>
      </tr>
    {% endfor %}
  {% endif %}
{% endif %}
